<!--
<h1> {{title}} </h1>
<img [src]="imgUrl" alt="" style="width: 5%">

<button disabled="{{isDisabled}}">Disable Using String Interpolation</button>
<button [disabled]="isDisabled">Disable Using Property Binding</button>

<button [class.active]="isActive" [class.no-active]="!isActive"> Click Me </button>

<button
  [style.backgroundColor]="isActive? 'red' : 'green'"
  [style.border]="isActive? '3px solid yellow' : ''"
>Click</button>

<button (click)="buttonClick()">Click me</button>

<input type="text" (keyup)="keyEnter($event)">

<input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput">

<input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)">

<h3> {{ userName }}</h3>

<input type="text" [(ngModel)]="userName">

<app-navbar></app-navbar>
<app-header></app-header>
<app-test></app-test>

<h1>{{ appPostTitle }}</h1>
<app-posts-list [postListTitle]="appPostTitle" (MessageEvent)="receiveMessage($event)"></app-posts-list>
{{ message }}

{{ messageFromChild }}

<app-card>
  <span header> username </span>
  <h1 body>John Doe</h1>
  <button footer>View Profile</button>
</app-card>

<app-posts-list></app-posts-list>

<div *ngComponentOutlet="loadComponent()"></div>

<button (click)="loadComponent()">Create Component</button>

<button (click)="removeComponent()">Remove Component</button>

<app-profile [pUserName]="userName"></app-profile>
<button (click)="changeUserName()">Change User Name</button>

<h2>Todo:</h2>

{{ datos | json}}

<br>
<br>
-->

<table>
  <th>Posición</th>
  <th>Equipo</th>
  <th>PJ</th>
  <th>G</th>
  <th>E</th>
  <th>P</th>
  <th>GF</th>
  <th>GC</th>
  <th>DG</th>
  <th>Puntos</th>
  @for (dato of pdatos; track dato) {
    <tr>
      <td>{{ $index + 1 }}</td>
      <td>{{ dato["teamname"] }}</td>
      <td>{{ dato["tplayedgames"] }}</td>
      <td>{{ dato["twongames"] }}</td>
      <td>{{ dato["ttiedgames"] }}</td>
      <td>{{ dato["tlostgames"] }}</td>
      <td>{{ dato["tscoredgoals"] }}</td>
      <td>{{ dato["tagainstgoals"] }}</td>
      <td>{{ dato["tdifgoals"] }}</td>
      <td>{{ dato["totalpoints"] }}</td>
    </tr>
  }
</table>
